.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.gradient-custom-2 {
/* fallback for old browsers */
background: #fccb90;

/* Chrome 10-25, Safari 5.1-6 */
background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);

/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
}

@media (min-width: 768px) {
.gradient-form {
height: 100vh !important;
}
}
@media (min-width: 769px) {
.gradient-custom-2 {
border-top-right-radius: .3rem;
border-bottom-right-radius: .3rem;
}
}

/* Dashboard.css */

@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

:root {
  --blanco: #E0E0E0;
  --beige-opacidad: #F4B970;
  --bg-menu: #FBFFE2;
  --bg-body: #C7E1FF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Quicksand', sans-serif;
  color: var(--blanco);
}

.menu-dashboard {
  max-width: 100px;
  height: 100vh;
  background: var(--bg-menu);
  padding: 20px;
  transition: max-width .3s ease;
  color: var(--negro);
  display: flex;
  flex-direction: column;
}

.top-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.top-menu .logo {
  display: flex;
  align-items: center;
}

.top-menu .logo img {
  width: 30px;
  transition: width .3s ease;
}

.top-menu .logo span {
  font-size: 20px;
  margin-left: 20px;
  display: none;
}

.top-menu .toggle {
  width: 30px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.top-menu .toggle i {
  font-size: 35px;
}

.input-search {
  width: 100%;
  margin: 50px 0;
  background-color: var(--beige-opacidad);
  padding: 15px;
  border-radius: 8px;
  display: flex;
  align-items: center;
}

.input-search i {
  font-size: 30px;
  margin-right: 20px;
}

.input-search .input {
  border: none;
  outline: none;
  background-color: transparent;
  width: 100%;
  height: 30px;
  color: #000;
  font-size: 22px;
  display: none;
}

.menu .enlace {
  width: 100%;
  padding: 20px 0 20px 17px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  cursor: pointer;
  font-size: 20px;
  transition: all .3s ease;
}

.menu .enlace:hover {
  background: var(--beige-opacidad);
}

.menu .enlace i {
  margin-right: 20px;
  font-size: 25px;
}

.menu .enlace span {
  opacity: 0;
  transition: opacity .3s ease;
}

.menu-dashboard.open {
  max-width: 300px;
}

.menu-dashboard.open .top-menu .logo span {
  display: block;
}

.menu-dashboard.open .input-search,
.menu-dashboard.open .menu .enlace {
  width: auto;
}

.menu-dashboard.open .input-search .input {
  display: block;
}

.menu-dashboard.open .menu .enlace {
  padding: 20px;
}

.menu-dashboard.open .menu .enlace span {
  opacity: 1;
}
